<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session["count"]}} time(s)</p>
    <a href="/"><button>Click</button></a>
    <a href="/destroy_session"><button>Reset</button></a>
    <a href="/plustwo"><button>Plus Two</button></a>

    <!-- SENSEI BONUS: Add a form that allows the user to specify the increment of the counter and have the counter increment accordingly -->
    <!-- SENSEI BONUS: Adjust your code to display both how many times the user has actually visited the page, as well as the value of the counter, given the above functionality -->
</body>
</html>